/*css/styles.css*/

body {
	width: 600px;
	font-family: "Inconsolata", sans-serif;
	background-color: black;
}

#container {
	margin: 0 auto;
}

.game {
	width: 400px;
	height: 600px;
	display: inline-block;
}

.opponentView {
	text-align: center;
	padding: 32px;
	color: white;
	display: inline-block;
	/*background-color: orange;*/
	float: right;
	border: 2px solid white;
}

#opponent {
	display: block;
}

.blockrain-score-holder, .blockrain-score {
	display: none;
}

.blockrain-game-over-btn {
	cursor: pointer;
}
