/*css/styles.css*/

body {
	font-family: "Inconsolata", sans-serif;
	background-color: black;
}

#container {
	text-align: center;
}

.panel {
	width: 400px;
	height: 640px;
	display: inline-block;
}

.game {
	width: 400px;
	height: 600px;
	display: block;
}

.blockrain-score-holder, .blockrain-score {
	display: none;
}

.blockrain-game-over-btn {
	cursor: pointer;
}
