/*css/styles.css*/

body {
	font-family: "Inconsolata", sans-serif;
	background-color: black;
}

#container {
	margin: 0 auto;
	text-align: center;
}

.home, .away {
	width: 400px;
	height: 600px;
	display: inline-block;
}

.home {
	margin: 0 auto;
}

.away {
	transform: scale(0.8,0.8);
}

.away .blockrain-start {
	display: none;
}

.blockrain-game-over-btn {
	cursor: pointer;
}
